{% extends 'base.html.twig' %}

{% block title %}Anne-Sophie Jackowska Dev - À propos{% endblock %}

{% block body %}
<section class="home">
    <div class="home-container" style="background-image: url('{{ asset('images/header.jpeg') }}');">
        <div class="overlay"></div>
        <div class="home-txt ubuntu-medium">
            <h1 class="home-txt-titre ">Je suis <span class="autoTyping"></span></h1>
            <p class="ubuntu-medium">Le courage, c'est peut-être d'aller au bout de ce qui nous passionne, de croire en nos projets, en nos rêves, même si cela demande de faire face à beaucoup d'obstacles. Ce n'est pas tant une absence de peur, mais plutôt la force de continuer malgré elle. <br> <span class="ubuntu-medium-italic">Alexandre Astier</span></p> 
            
            <div class="home-btn ubuntu-medium">
               <a href="{{ asset('images/Jackowska_Alternant.pdf') }}" class="cvBtn">CV</a>
               <a href="#contact" class="contactBtn" target="\blank">Me contacter</a>
            </div  >
        </div>
    </div>    
</section>
{% endblock %}
      