{% extends 'base.html.twig' %}

{% block title %}Anne-Sophie Jackowska Dev - À propos{% endblock %}

{% block body %}

<div class="about-container container ubuntu-light">
<div>
        <div class="title-block d-flex flex-column flex-center">
            <h1 class="my-30">Anne-Sophie Jackowska</h1>
            <h2 class="my-30">Développeuse Backend Junior</h2>
            <blockquote class="ubuntu-light d-flex flex-column">
            "Choisis un travail que tu aimes, et tu n'auras pas à travailler un seul jour de ta vie."
            <footer class="my-10 ubuntu-light-italic">~ Confucius ~</footer>
            </blockquote>
    
            
        </div>
</div>
    <div class="about-content ubuntu-medium d-flex flex-column flex-center">
        <p class="about-grid-item">Il y a deux ans, j'ai découvert le monde du web, un domaine qui s'est rapidement transformé en une passion dévorante. Après une carrière dans le soin, suivie d'une formation en comptabilité où j'ai été captivée par la puissance d'Excel grâce à une formatrice inspirante, j'ai trouvé ma vocation. </p>
        
        <p>Confrontéé à un apprentissage à distance, je me suis trouvée un attrait pour la recherche d'information et la résolution de problèmes en totale autonomie. Cette période m'a également permis de lancer mon entreprise d'assistance administrative en ligne. C'est en développant le site web pour cette activité que j'ai plongé dans le HTML et le CSS, ouvrant la porte à une future carrière en développement web. </p>
        
        <p>J'ai rapidement évolué vers le back-end, me formant en PHP et Symfony, et j'ai obtenu un titre de développeur web, ce qui a validé mes compétences dans ce domaine. Aujourd'hui, je cherche à approfondir mes connaissances en Java à travers une alternance, tout en continuant à me former de manière autonome. Mon objectif est d'acquérir l'expérience nécessaire pour sécuriser mon premier poste en tant que développeur junior.</p>
        
        <p>Parallèlement, je travaille sur des projets personnels, notamment en React pour le front-end, consolidant ainsi mes connaissances et compétences dans un environnement dynamique et évolutif.</p>
        
        <p>Mon parcours est un témoignage de ma capacité à apprendre et à m'adapter rapidement, traits essentiels pour exceller dans le secteur technologique. Passionnée et déterminée, je suis prête à relever les défis et à apporter ma pierre à l'édifice dans le monde de la programmation.
        </p>
    </div>
</div>
{% endblock %}
