.footer-with-chevron {
  color: var(--gray-1);
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100px;
  .footer-container {
    position: relative;
    bottom: 70px;
  }
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-1);
    position: relative;
    bottom: 30%;
    text-decoration: none;
    background-color: var(--gray-2);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, 0.1);

    .fa-chevron-up{
      position: absolute;
      scale: 4;
      top: 36px;
      z-index: 10;
      color: rgba(0, 0, 0, 0.1);
      &:hover {
        scale: 6;
      }
    }
  }
  .calc {
    width: 120px;
    height: 70px;
    background-color: red;
    position: absolute;
    top: 0.7%;
    background-color: var(--gray-2);
    z-index: 12;
  }
}

@media screen and (max-width: 768px) {
  .footer-container-with-chevron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size:14px;
    position: absolute;
    // ul {

    //   // margin-bottom: 20px;
    // }

  }
  .back-to-top {
    position: relative;
    bottom: 40px;
    
    a {
      width: 80px;
      height: 80px;

      .fa-chevron-up {
        scale: 2 !important;
        bottom: 20px !important;
      }
    }
    .calc {
      display: none;
    }
  }


  .footer-container-without-chevron {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size:14px
  }
}

.footer-without-chevron {
  height: 60px;
  padding-top: 20px;
}

