@use '../mixins' as mixin;

header {
  box-shadow: var(--box-shadow-nav);
  background-color: var(--white);
}

.logo-container {
  width: 60px;
  height: 60px;
  position: relative;
  bottom: 1px;
}

.header-container {
  width: 100%;
}

.hamburger {
  display: none; 
}

.is-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    border: none;
    margin-right: 30px;
  }
  #navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    flex-direction: column;
    color: rgb(238, 238, 243);
    top: 50px;
    width: 100%;
    background-color: rgb(22, 14, 46);
    z-index: 100;
    
    .nav-links {
      display: block;
      li {
        text-align: center;
        padding: 9px;
      }
    }
    .social-links {
      padding: 9px;
    }
  }
}
