<footer>
    <div class="footer-container d-flex flex-between my-30 mx-80 ubuntu-light">
        <span>&copy 2024 Anne-Sophie Jackowska</span>
        <ul class="d-flex">
            <li class="me-15"><a href="">A propos</a></li>
            <li class="me-15"><a href="">Experiences</a></li>
            <li class="me-15"><a href="">Projets</a></li>
            <li class="me-15"><a href="">Technos</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
</footer>