<header class="container">
  <div class='header-container d-flex flex-around ubuntu-regular flex-fill text-color-gray'>
        <a href="{{ path('app_home_page') }}" class="logo-container">
          <img src="{{ asset('images/logo_portfolio.svg')}}" alt="">
        </a>
        <nav class="d-flex flex-evenly fs-20" >
            <ul class="d-flex nav-links">
              <li class="me-15"><a href="">A propos</a></li>
              <li class="me-15"><a href="">Experience</a></li>
              <li class="me-15"><a href="">Projets</a></li>
              <li class="me-15"><a href="">Technos</a></li>
              <li><a href="">Contact</a></li>
            </ul>
            <ul class="d-flex social-links mx-80">
              <li>    
                  <a href="https://github.com/Annesophie55/" >
                      <i class="fa-brands fa-github"></i>
                  </a>
                </li>
              <li class="ms-30">
                  <a href="https://www.linkedin.com/in/anne-sophie-jackowska-69a91b231/">
                      <i class="fa-brands fa-linkedin"></i>
                  </a>
              </li>
            </ul>
        </nav>
  </div>
</header>