.experience {
  min-height: 100vh;
  color:#d2c9c9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

#compagny, #compagny * {
  z-index: 0;  
}

@media screen and (max-width:800px) {
  .experience {
  grid-template-columns: 1fr !important;
}
}