.lateral_nav {
  min-width: 350px;
  height: 100%;
  color:#f4f4ff;
  position: relative;
  margin-top: 40px;
  bottom: 60px;
  transition: transform 0.6s ease;
  .bloc_sticky_nav {  
    margin-left: 80px;
    position: fixed;
    transition: transform 0.6s ease;
    p{
      max-width: 400px;
      line-height: 25px;
    }
    img {
    border-radius: 10px;
    margin-top: 40px;
    align-self: flex-start;

    }
    h1 {
      margin-right: auto;
      font-size: 40px;
      padding: 20px;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      margin-top: 25px;
      padding-left: 20px;
      li {
        display: flex;
        width: 100%;
        cursor: pointer;
        button {
          border: none;
          background-color: inherit;
          font-size: 20px;
          color:rgb(80,96,125);
          box-shadow: var(--box-shadow);
          cursor: pointer;
        }

        &:not(:first-child) {
          margin-top: 20px;
        }
        &::before {
          content: ""; 
          display: flex;
          position: relative;
          height: 1px;
          width: 40px;
          background-color:rgb(80,96,125);
          z-index: 10;
          align-self: center;
          margin-right: 20px;
          transition: transform 0.1s ease;
          transform-origin: left;
        }
        &:hover::before {
          transform: scaleX(2) scaleY(2);
          background-color: #ffff;
        }
        &:hover {
          button {
            transform: translateX(40px) scale(1.1);
            color: #ffff;
            border: none;
            background-color: inherit;
          }
        }
      }
    }
  }
}

.active {
  &::before {
    content: "";
    transform: scaleX(2) scaleY(2);
    background-color: #ffff !important;
  }
  button {
    transform: translateX(40px) scale(1.2);
    color: #ffff !important;
  }
}

.technos_items_project {
  border: 1px solid rgb(80,96,125);
  padding: 5px;
  border-radius: 25px;
  font-size: 16px !important;
  cursor: pointer;
  &:not(:first-of-type) {
    margin-left: 5px;
  }
}


.techno_list_project {
  width: 100%;
  display: flex;
  justify-content: start;
}


.toggle-checkbox {
  display: none;
}

.toggle-checkbox:checked + .toggle-label + .bloc_sticky_nav {
  transform: translateX(260px); 
}

.toggle-checkbox:checked + .toggle-label  {
  transform: translateX(258px);
}

.toggle-label {
  height: 100px;
  width: 30px;
  background-color: black;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 2px solid rgb(10, 234, 250);
  justify-content: center;
  align-items: center;
  top: 30vh;
  position: fixed;
  transition: transform 0.6s ease;
  display: none;
  z-index: 1005;
  padding: 0 3px;
}




@media screen and (max-width:800px) {
  .bloc_sticky_nav  {
    margin-left: 20px;
    display: flex;
    z-index: 1500;
    background-color: #050219;
    position: relative;
    h1 {
      font-size: 28px !important;
    }
    img {
      padding: 10px 20px 40px 20px;
    }

}
.lateral_nav {
  width: 300px;
  background-color: #050219;
  z-index: 1500;
  position: fixed;
  transform: translateX(-348px);
  display: flex;
  flex-direction: row-reverse;
  bottom: 0px;
  border-right:  2px solid rgb(10, 234, 250);
}


.toggle-label {
  display: flex;
  position: absolute;
  z-index: 1500;
  left: 350px;
}

}

@media screen and (max-width:380px) {
  .bloc_sticky_nav {
    img {
      display: none;
    }
  }
}