body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--gray-2);
}

.logo-container {
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 5px;
}

i {
  scale: 1.5;
}

// h1,
// h2,
// h3,
// h4 {
//   margin: 0;
// }

* {
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
}

header {
  box-shadow: var(--box-shadow-nav);
}
// input {
//   font-family: var(--font-family);
// }

// ::placeholder {
//   font-family: var(--font-family);
// }


