<div class="card" id="{{ my_id }}">
        <p class="dateOf inter-regular">Date</p>
    <div class="aboutExp inter-regular">
        <h1>Titre | Role</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <ul class="technos_List d-flex">
            <li class="technos_items">PHP <img src="" alt="logo"></li>
            <li class="technos_items">PHP <img src="" alt="logo"></li>
        </ul>
    </div>
</div>
