<nav class="lateral_nav d-flex flex-column  flex-center">


      <h1 class="ubuntu-bold">Anne-Sophie <br>
  Jackowska</h1>
        <img src="https://kaamelott-gifboard.fr/gifs/affaire-a-un-professionnel.gif" alt="Gif Kaamelott: je vois que j'ai affaire à un professionnel" >
  <ul class="ubuntu-regular">
      <li><span>Formation</span></li>
      <li><span>Entreprise</span></li>
  </ul>

</nav>