
<nav class="lateral_nav" id="side_nav">
   <input type="checkbox" id="side_toggle" class="toggle-checkbox">
    <label for="side_toggle" class="toggle-label">
        <i class="fa fa-chevron-right"></i>
    </label>

    <div class="bloc_sticky_nav d-flex flex-column  flex-center">
        <h1 class="inter-bold">Anne-Sophie <br>
        Jackowska</h1>
        {% if pageProject %}
        <p class="project_text inter_light">Pour garantir la maintenabilité et la réutilisabilité du code dans mes projets d'envergure, j'adopte  la méthode agile. Cela me permet de répondre de manière flexible et efficace aux besoins évolutifs du projet. Dès les premières étapes, je m'appuie sur des cahiers des charges détaillés et des prototypes réalisés sur Figma pour visualiser les fonctionnalités avant leur développement, assurant que chaque produit fini, répond non seulement aux exigences initiales mais est également prêt à évoluer. </p>

        <div class="techno_list_project">
        {% for techno in technos %}
             <a class="technos_items_project"  href="{{ path('app_project_index', {'techno_id': techno.id}) }}" class="btn technos_items_project">{{ techno.name }}</a>
        {% endfor %}
        </div>

        {% else %}
        <ul>
          <li onclick="addActiveClass(this)" class="nav_lat_link"><button class="inter-regular" onclick="location.href='#formation';">Formation</button></li>
          <li onclick="addActiveClass(this)" class="nav_lat_link"><button class="inter-regular" onclick="location.href='#compagny';">Entreprise</button></li>
        </ul>
        <img src="https://kaamelott-gifboard.fr/gifs/affaire-a-un-professionnel.gif" alt="Gif Kaamelott: je vois que j'ai affaire à un professionnel" >
        {% endif %}


    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var halo = document.getElementById('halo');
    var checkbox = document.getElementById('side_toggle'); 
  var links = document.querySelectorAll('.nav_lat_link');
  window.addEventListener('mousemove', (e) => {
    const haloSize = 200;  // Moitié de la taille du halo pour centrer sur la souris
    halo.style.left = `${e.clientX - haloSize}px`;
    halo.style.top = `${e.clientY - haloSize}px`;
  });

    // Ajout d'un écouteur d'événements pour tous les liens
  links.forEach(link => {
    link.addEventListener('click', function() {
      addActiveClass(link);
      checkbox.checked = !checkbox.checked; // Bascule l'état de la checkbox
    });
  });



  function addActiveClass(clickedElement) {
    var links = document.querySelectorAll('.nav_lat_link');
    links.forEach(link => link.classList.remove('active'));

    clickedElement.classList.add('active');
  }

  // Sélectionner les liens et les blocs correspondants
  var formationLink = document.querySelector('.nav_lat_link button[onclick*="formation"]');
  var compagnyLink = document.querySelector('.nav_lat_link button[onclick*="compagny"]');
  var formationBlock = document.getElementById('formation');
  var compagnyBlock = document.getElementById('compagny');



  formationBlock.addEventListener('mouseenter', () => addActiveClass(formationLink.parentElement));
  compagnyBlock.addEventListener('mouseenter', () => addActiveClass(compagnyLink.parentElement));


});

</script>
