<nav class="lateral_nav d-flex flex-column  flex-center">


      <h1 class="inter-bold">Anne-Sophie <br>
  Jackowska</h1>

  <ul class="inter-regular">
      <li><span>Formation</span></li>
      <li><span>Entreprise</span></li>
  </ul>
          <img src="https://kaamelott-gifboard.fr/gifs/affaire-a-un-professionnel.gif" alt="Gif Kaamelott: je vois que j'ai affaire à un professionnel" >

</nav>