{% extends 'base.html.twig' %}

{% block description %}
    Accédez à la gestion des expériences professionnelles sur DevByASJ. Cette page permet la mise à jour et l'organisation de vos antécédents professionnels, reflétant vos compétences et projets en développement web.
{% endblock %}

{% block title %}DevByASJ - Gestion des Expériences Professionnelles{% endblock %}

{% block body %}
    <h1>Edit Experience</h1>

    {{ include('experience/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_experience_index') }}">back to list</a>

{% endblock %}
