{% extends 'base.html.twig' %}

{% block title %}Experience index{% endblock %}

{% block body %}
<section class="d-flex flex-between bgc-navy-gradient ">
    {% include 'components/lateral_nav.html.twig' %}
    <div class="experience_container">
        <div class="formation_card card d-flex">
            <p>Date</p>
            <div class="">
                <h1>Titre <span>Role</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                {% include 'components/technos_bloc.html.twig' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
