{% extends 'base.html.twig' %}

{% block title %}Experience index{% endblock %}

{% block body %}
<div class="experience bgc-navy-gradient">
    {% include 'components/lateral_nav.html.twig' %}
    <div class="experience_container">
    {% include 'components/card.html.twig' with  {'my_id': 'formation'}  %}
    {% include 'components/card.html.twig' with  {'my_id': 'formation'}  %}
    {% include 'components/card.html.twig' with  {'my_id': 'formation'}  %}
    {% include 'components/card.html.twig' with  {'my_id': 'formation'}  %}
    {% include 'components/card.html.twig' with  {'my_id': 'formation'}  %}
    <hr>
    {% include 'components/card.html.twig' with {'my_id': 'compagny'}  %}
    {% include 'components/card.html.twig' with {'my_id': 'compagny'}  %}
    {% include 'components/card.html.twig' with {'my_id': 'compagny'}  %}
    {% include 'components/card.html.twig' with {'my_id': 'compagny'}  %}
    {% include 'components/card.html.twig' with {'my_id': 'compagny'}  %}
    {% include 'components/card.html.twig' with {'my_id': 'compagny'}  %}
    </div>
    <div id="halo" style="position: fixed;
    pointer-events: none;
    border-radius: 50%;
    width: 400px; 
    height: 400px;
    background: radial-gradient(circle, rgba(9, 41, 131, 0.331), transparent 70%);
    transition: transform 0.1s ease-out; 
    transform: translate(-25%, -25%);
    z-index: 1000; "></div>
</div>
{% endblock %}
