{% extends 'base.html.twig' %}

{% block title %}Experience index{% endblock %}

{% block body %}
<div class="experience bgc-navy-gradient">
    {% include 'components/lateral_nav.html.twig' %}
    <div class="experience_container">
         {% if is_granted('ROLE_ADMIN')%}
        {% include 'experience/_form.html.twig' %}
        {% endif %}
    <div id="formation">
      {% for experience in data %}
          {% if experience.type == 'Formation' %}
            {% include 'components/card.html.twig' with {'data': experience} %}
          {% endif %}
      {% endfor %}
    </div>
    <hr>
    <div id="compagny">
        {% for experience in data %}
            {% if experience.type == 'Compagny' %}
                {% include 'components/card.html.twig' with {'data': experience} %}
            {% endif %}
        {% endfor %}
    </div>

    </div>

</div>
        <div id="halo" style="position: fixed;
    pointer-events: none;
    border-radius: 50%;
    width: 400px; 
    height: 400px;
    background: radial-gradient(circle, rgba(9, 41, 131, 0.331), transparent 70%);
    z-index: 1000; "></div>
<script>

document.addEventListener('DOMContentLoaded', function() {
  var halo = document.getElementById('halo');
  var navbar = document.querySelector('header');
   var footer = document.querySelector('footer');

  window.addEventListener('mousemove', (e) => {
    const navbarRect = navbar.getBoundingClientRect();
    const footerRect = footer.getBoundingClientRect();
    const haloSize = 200;  // Moitié de la taille du halo pour centrer sur la souris

    // Vérifier si la souris est en dehors de la navbar
    if (e.clientX < navbarRect.left || e.clientX > navbarRect.right ||
        e.clientY < navbarRect.top || e.clientY > navbarRect.bottom || e.clientX < footerRect.left || e.clientX > footerRect.right ||
        e.clientY < footerRect.top || e.clientY > footerRect.bottom) {
      halo.style.left = `${e.clientX - haloSize}px`;
      halo.style.top = `${e.clientY - haloSize}px`;
      halo.style.display = 'block';  // Assurez-vous que le halo est visible
    } else {
      halo.style.display = 'none';  // Cachez le halo lorsque la souris est sur la navbar
    }
  });
});

  function addActiveClass(clickedElement) {
    var links = document.querySelectorAll('.nav_lat_link');
    links.forEach(link => link.classList.remove('active'));
    clickedElement.classList.add('active');
  }



</script>
{% endblock %}
