<form action="{{ path('add_project') }}">
  <div class="inputGroup">
      <label for="project_title">Titre :</label>
      <input type="text" name="title" id="project_title"> 
  </div>
  <div class="inputGroup">
      <label for="project_description">Description :</label>
      <input type="text" name="description" id="project_description">
  </div>
  <div class="inputGroup">
      <label for="project_link">Lien :</label>
      <input type="text" name="link" id="project_link">
  </div>
  <div class="inputGroup">
      <label for="project_img">Image :</label>
      <input type="text" name="image" id="project_img">
  </div>
</form>