{% extends 'base.html.twig' %}

{% block description %}
    Interface d'édition de projet pour DevByASJ. Utilisez cette page pour ajouter, modifier ou supprimer des détails de projets, assurant une mise à jour facile et rapide de votre portfolio de développeuse web.
{% endblock %}

{% block title %}DevByASJ - Éditeur de Projets{% endblock %}

{% block body %}
    <h1>Edit Project</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_project_index') }}">back to list</a>
{% endblock %}
