{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
   <div class="project_container bgc-navy-gradient">

       {% include 'components/lateral_nav.html.twig' %}
            <div id="project">
                        {% if is_granted('ROLE_ADMIN')%}
        {% include 'project/_form.html.twig' %}
        {% endif %}
            {% for project in data %}
            {% include 'components/card.html.twig' with {'data': project}  %}             
            {% endfor %}

            </div>
   </div>
{% endblock %}
